$pokedex-red: #dc0a2d;
$pokedex-white: #dedede;
$pokedex-blue: #27abfe;
$pokedex-black: #00312c;

$pokemon-blue: #3b4cca; /* Base color */
$pokemon-blue-light: #99b3e6; /* Lighter blue */
$pokemon-blue-light-2: #c3d3f1; /* Even lighter blue */
$pokemon-blue-dark: #1e3a8a; /* Darker blue */

$pokemon-orange: #ff9933; /* Complementary color */
$pokemon-orange-light: #ffe082; /* Lighter orange */
$pokemon-orange-dark: #cc7a00; /* Darker orange */

$type-normal: #a9aa79;
$type-fire: #f0812c;
$type-water: #6891f0;
$type-grass: #79c94f;
$type-electric: #f8d12c;
$type-ice: #99d9d9;
$type-fighting: #c12c23;
$type-poison: #a13ea1;
$type-ground: #e1c168;
$type-flying: #a991f0;
$type-bug: #a9b91a;
$type-rock: #b9a135;
$type-ghost: #715799;
$type-psychic: #f85789;
$type-dragon: #7135f8;
$type-dark: #715746;
$type-steel: #b9b9d1;
$type-fairy: #ef9aae;
