<div>Question</div>
<p *ngIf="!questionOptions">Loading Pokémon data...</p>
<div *ngIf="questionOptions && pokemonData">
	<h2>
		What type(s) does
		<span class="pokemon-name">{{ pokemonData.pokemonName }}</span> have?
	</h2>
	<img [src]="pokemonData.spriteUrl" alt="{{ pokemonData.pokemonName }}" />
	<h3>Types:</h3>
	<div class="question-options-container container-sm p-5 rounded-5">
		<div class="row g-5">
			<div class="col-6" *ngFor="let type of questionOptions">
				<quiz-option-card
					[type]="type"
					(selectionChange)="onTypeSelectionChange($event)"
				></quiz-option-card>
			</div>
		</div>
		<button
			class="submit-button d-block mx-auto mt-5 mb-1 p-3 w-auto rounded-5"
			(click)="onSubmit()"
			[disabled]="!selectedTypes.length"
		>
			submit
		</button>
	</div>
</div>
