<div
	class="region-selector-hud-container d-flex flex-column align-items-center shadow-lg g-1"
>
	<span class="hud-label-main mb-3"
		>Which regions would you like to explore?</span
	>

	<div class="region-selection-container mb-4">
		<button
			*ngFor="let region of regions"
			(click)="selectRegion(region)"
			[class.selected]="selectedRegions.includes(region.name)"
			[style.background-image]="'url(' + region.badgeImage + ')'"
			class="region-button d-flex align-items-end justify-content-center"
		>
			<span class="region-label">{{ region.name }}</span>
		</button>
	</div>

	<button
		class="submit-regions btn text-uppercase"
		(click)="confirmRegions()"
		[disabled]="selectedRegions.length === 0 && regionsChanged"
	>
		submit regions
	</button>
</div>
