@use "../../styles/variables" as var;

.submission-feedback {
	padding: 0.5rem 1rem;
	margin-top: 1.25rem;
	border-radius: 8px;

	font-size: 1.125rem;
	text-align: center;
	color: white;

	opacity: 1;
	animation: fadeInOut 3.5s forwards;

	&.success {
		background-color: var.$success;
	}

	&.error {
		background-color: var.$error;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	10% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-10px);
	}
}

.submit-button {
	background-color: #3d424b;
	border: 2px solid #5a5f6e;
	border-radius: 4px;
	color: var.$pokedex-white;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: background-color 0.2s ease, border-color 0.2s ease,
		box-shadow 0.2s ease;

	text-transform: uppercase;

	&:hover:not(:disabled) {
		background-color: #4a505b;
		border-color: var.$pokedex-blue;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		background-color: var.$pokedex-black;
		border-color: #444;
	}

	@media (max-width: 600px) {
		font-size: 1rem;
	}

	@media (max-width: 400px) {
		font-size: 0.875rem;
	}
}
