@use "../../../styles/variables" as var;

.quiz-option {
	input[type="checkbox"] {
		appearance: none;
		width: 1.5rem;
		height: 1.5rem;

		@media (max-width: 600px) {
			width: 1rem;
			height: 1rem;
		}

		margin: 0;
		border: 2px solid #ffffff;
		border-radius: 50%;

		background-color: white;
		cursor: pointer;

		transition: background-image 0.3s ease, transform 0.2s ease;

		&:hover {
			transform: scale(1.2);
		}

		&:checked {
			background-image: url("../../../../assets/pokeball.svg");
			transform: scale(1.2);
		}
	}

	padding: 1.5rem;
	border-radius: 16px;

	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.25rem;

	@media (max-width: 600px) {
		font-size: 1rem;
	}

	@media (max-width: 400px) {
		font-size: 0.875rem;
	}

	color: #ffffff;
	text-align: center;
}

.type-normal {
	background-color: var.$type-normal;
}

.type-dark {
	background-color: var.$type-dark;
}

.type-fire {
	background-color: var.$type-fire;
}

.type-water {
	background-color: var.$type-water;
}

.type-grass {
	background-color: var.$type-grass;
}

.type-electric {
	background-color: var.$type-electric;
}

.type-ice {
	background-color: var.$type-ice;
}

.type-fighting {
	background-color: var.$type-fighting;
}

.type-poison {
	background-color: var.$type-poison;
}

.type-ground {
	background-color: var.$type-ground;
}

.type-flying {
	background-color: var.$type-flying;
}

.type-psychic {
	background-color: var.$type-psychic;
}

.type-bug {
	background-color: var.$type-bug;
}

.type-rock {
	background-color: var.$type-rock;
}

.type-ghost {
	background-color: var.$type-ghost;
}

.type-dragon {
	background-color: var.$type-dragon;
}

.type-dark {
	background-color: var.$type-dark;
}

.type-steel {
	background-color: var.$type-steel;
}

.type-fairy {
	background-color: var.$type-fairy;
}

.type-empty {
	color: var.$pokedex-red;

	input[type="checkbox"] {
		border-color: var.$pokedex-red;
		background-color: var.$pokedex-red;

		cursor: auto;

		transition: background-image 0.3s ease, transform 0.2s ease;

		&:hover {
			transform: none;
		}

		&:checked {
			background: none;
		}
	}
}
