@use "./app/styles/variables" as var;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: bisque;
}

.main {
	height: 100%;
	width: 100%;
}
